[submodule ".themes/MediumFox"]
	path = .themes/MediumFox
	url = https://github.com/sevenadrian/MediumFox
[submodule ".themes/slash"]
	path = .themes/slash
	url = git://github.com/tommy351/Octopress-Theme-Slash.git
